/** custom classes for all elements */

/** for sections */
@media (min-width: 992px) {
  .fw-main-row.Ñargo-hook {
    position: relative;
    .container,
    .container-fluid {
      &:after {
        display: block;
        width: 110px;
        height: 146px;
        margin-left: -55px;
        position: absolute;
        top: 0;
        left: 50%;
        background-image: url(../img/hook.png);
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 5;
      }
    }
  }
}
@media (min-width: 1200px) {
  .skew_bg_right,
  .skew_bg_left {
    position: relative;
  }
  .skew_bg_right > *,
  .skew_bg_left > * {
    z-index: 3;
    position: relative;
  }
  .skew_bg_right:after,
  .skew_bg_left:before {
    content: "";
    position: absolute;
    top: 0;
    background: $mainColor;
    bottom: 0;
    width: 100px;
    height: 100%;
    z-index: 1;
    -webkit-transform: skewX(-30deg);
    transform: skewX(-30deg);
   }
  .skew_bg_right:after {
    right: -32px;
  }
  .skew_bg_left:before {
    left: -32px;
  }
}

.skew_bg_right,
.skew_bg_left {
  .shortcode-icon {
    display: table;
    max-width: 100%;
    position: relative;
    margin: 0 auto;
    .media-body {
      display: table-cell;
      vertical-align: middle;
      width: auto;
      line-height: 26px;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .media-left,
    .media-right {
      display: table-cell;
      vertical-align: middle;
      .icon-wrap {
        display: block;
        line-height: 50px;
        width: 50px;
        height: 50px;
        text-align: center;
        border: 0;
        padding: 0;
        overflow: visible;
        border-radius: 50%;
        background-color: rgba($darkgreyColor, 0.1);
        i {
          text-shadow: 0 2px 0 rgba($darkgreyColor, 0.1);
          font-size: 24px;
        }
      }
    }
    .media-left {
      margin-right: 15px;
    }
    .media-right {
      margin-left: 15px;
    }
  }
  h4 {
    font-size: 24px;
  }
}

.skew_bg {
  .teaser.media {
    display: table;
    max-width: 440px;
    margin: 0 auto;
    .teaser_icon {
      border: 2px solid $mainColor;
      i {
        line-height: 39px;
      }
    }
    .media-body {
      vertical-align: middle;
      text-align: left;
      h4 {
        text-transform: uppercase;
        margin-bottom: 0;
        font-size: 24px;
        line-height: 1.3;
        a {
          color: $mainColor;
        }
      }
    }
    .media-left {
      margin-right: 15px;
    }
    .media-right {
      margin-left: 15px;
      margin-right: 15px;
    }
  }
  .teaser.media:hover {
    .teaser_icon {
      background: transparent;
      border: 2px solid $mainColor;
    }
  }
}

.skew_bg .section_header .highlight a {
  color: $mainColor;
  &:hover, &:active {
    color: $lightColor;
  }
}

@media (max-width: 479px) {
  .skew_bg,
  .skew_bg_right,
  .skew_bg_left {
    h4 {
      font-size: 19px !important;
    }
  }
  .skew_bg {
    .teaser {
      padding: 0 15px;
    }
  }
}

.mini-text {
  .text-block {
    margin: 0 auto;
    max-width: 520px;
  }
}
.mini-form {
  .form-wrapper {
    max-width: 720px;
    margin: 0 auto;
  }
}