/*widget_twitter*/
.widget_mwt_twitter,
.widget_towy_twitter {
	.tweet_avatar {
		display: none;
	}
	.tweet_text {
		font-size: 16px;
		font-style: italic;
		color: $fontColor;
		a {
			display: none;
		}
	}
	.tweet_time {
		display: block;
		font-size: 14px;
		color: $lightColor;
	}
	.tweet_right {
		overflow: hidden;
		position: relative;
		zoom: 1;
		padding-left: 25px;
		&:before {
			font-family: FontAwesome;
			content: "\f099";
			font-size: 18px;
			color: $mainColor;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	.tweet_list li + li {
		margin-top: 10px;
		clear: both;
	}
}